.cards {
    @media (width <= $breakpoint-md) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--spacing-md);
    }
    @media (width <= $breakpoint-sm) {
        display: block;
    }
}
.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-md);
    align-items: center;
    &:nth-child(odd) {
        .card__content {
            order: 1;
        }
    }
    @media (width <= $breakpoint-md) {
        grid-template-columns: 1fr;

        .card__content {
            order: 1;
        }
    }
}
.card__media {
    aspect-ratio: 595/490;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
