.section {
    padding-bottom: 80px;
    padding-top: 92px;
}
h2 {
    margin-bottom: 110px;
}
span {
    color: rgba(255, 255, 255, 0.55);
    font-weight: 100;
}
.cards {
    @media (width <= $breakpoint-md) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--spacing-md);
    }
    @media (width <= $breakpoint-sm) {
        display: block;
    }
}
.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-md);
    align-items: center;
    margin-bottom: 49px;
    font-family: 'Work Sans';
    .card__content {
        gap: 40px;
    }

    img {
        border-radius: 16px;
    }
    h3 {
        font-size: typo(16px);
    }
    p {
        font-size: typo(24px, 32px);
        margin-bottom: 40px;
        font-weight: 100;
        color: rgba(255, 255, 255, 0.55);
        span {
            font-weight: bold;
            color: var(--color-white);
            font-weight: 400px;
        }
    }
    .bouton {
        font-size: 16px;
        font-weight: bold;
        background-color: var(--color-primary);
        padding: 16px 15px;
        border-radius: 100px;
        color: var(--color-black);
        .icone {
            text-align: center;
        }
    }
    .tag {
        font-size: 18px;
    }
    &:nth-child(odd) {
        .card__content {
            order: 1;
        }
    }
    @media (width <= $breakpoint-md) {
        grid-template-columns: 1fr;

        .card__content {
            order: 1;
        }
    }
}
.card__media {
    aspect-ratio: 595/490;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
