.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    padding-bottom: 60px;
    .content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .media {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 68px;
    }
    span {
        color: var(--color-white);
    }

    h2 {
        color: rgba(255, 255, 255, 0.55);
        margin-bottom: 0;
    }
    p {
        color: rgba(255, 255, 255, 0.55);
    }
    .icon {
        color: rgba(255, 255, 255, 0.55);
        width: 48px;
        height: 48px;
    }
}
