.header {
    padding: 25px 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    a {
        color: var(--color-white);
        :hover {
            color: var(--color-white);
        }
    }
    @media (width <= $breakpoint-lg) {
        height: 80px;
    }
}
