.hero {
    padding: 80px 0;
    position: relative;
    height: 80vh;
    .wrapper {
        height: 100%;
        display: flex;

        justify-content: flex-end;
        flex-direction: column;
    }
    @media (width <= $breakpoint-lg) {
        height: 650px;
    }
}
.hero__media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
.hero__content {
    display: flex;

    justify-content: flex-end;
    flex-direction: column;
    color: var(--color-primary);
    h1 {
        margin-bottom: 80px;
        font-family: 'monstera', sans-serif;
    }
}
