.mes-labo-reactifs {
    background-color: var(--color-primary);

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 77px 0;
    color: var(--color-black);
    .card {
        p {
            color: rgba(0, 0, 0, 0.55);
            span {
                color: var(--color-black);
            }
        }
        .bouton {
            background-color: var(--color-white);

            color: var(--color-black);
        }
    }
    h2 {
        font-size: typo(30px, 40px);
        margin-bottom: 115px;
        span {
            color: rgba(0, 0, 0, 0.55);

            font-weight: 100;
        }
    }
}
.swiper-slide {
    height: 100%;
    width: auto;
}
.js-swiper {
    display: flex;

    width: auto;
    text-decoration: none;
    overflow: hidden;
    .swiper-wrapper {
        display: flex;
        margin-bottom: 49px;
    }
}

.swiper-pagination {
    position: static;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 21px;
    text-align: center;
    --swiper-pagination-color: var(--color-white);
    --swiper-pagination-bullet-inactive-color: var(--color-black);
    --swiper-pagination-bullet-height: 20px;
    --swiper-pagination-bullet-width: 20px;

    --swiper-pagination-bullet-border-radius: 0;
}
.swiper-pagination-bullet {
    transform: rotate(45deg);
}
