{% include "_partials/_header.html" %}
<!-- Votre contenu ici -->
<section class="hero">
    <div class="wrapper">
        <div class="hero__media">
            <img src="assets/images/hero.jpg" alt="ordinateur" />
        </div>
        <div class="hero__content"><h1>Mon cahier d'exercice</h1></div>
    </div>
</section>
<section class="section">
    <div class="wrapper">
        <h2>Mes laboratoires</h2>
        <div class="cards">
            <div class="card">
                <div class="card__content">
                    <h3>SEM 01 - RÉVISION</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur
                        <span>adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                    </p>
                    <p class="tag">HTML + CSS</p>
                    <a href="">Voir le laboratoire</a>
                </div>
                <div class="card__media"><img src="assets/images/media.jpg" alt="site web crypto-monaies" /></div>
            </div>
            <div class="card">
                <div class="card__content">
                    <h3>SEM 01 - RÉVISION</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur
                        <span>adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                    </p>
                    <p class="tag">HTML + CSS</p>
                    <a href="">Voir le laboratoire</a>
                </div>
                <div class="card__media"><img src="assets/images/media.jpg" alt="site web crypto-monaies" /></div>
            </div>
            <div class="card">
                <div class="card__content">
                    <h3>SEM 01 - RÉVISION</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur
                        <span>adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                    </p>
                    <p class="tag">HTML + CSS</p>
                    <a href="">Voir le laboratoire</a>
                </div>
                <div class="card__media"><img src="assets/images/media.jpg" alt="site web crypto-monaies" /></div>
            </div>
            <div class="card">
                <div class="card__content">
                    <h3>SEM 01 - RÉVISION</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur
                        <span>adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                    </p>
                    <p class="tag">HTML + CSS</p>
                    <a href="">Voir le laboratoire</a>
                </div>
                <div class="card__media"><img src="assets/images/media.jpg" alt="site web crypto-monaies" /></div>
            </div>
        </div>
    </div>
</section>
<section class="mes-labo-reactifs">
    <div class="wrapper">
        <h2>Mes laboratoires réactifs</h2>
        <div class="swiper js-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="card">
                        <div class="card__content">
                            <h3>SEM 01 - RÉVISION</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur
                                <span>adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                            </p>
                            <p class="tag">HTML + CSS</p>
                            <a href="">Voir le laboratoire</a>
                        </div>
                        <div class="card__media"><img src="assets/images/media.jpg" alt="site web crypto-monaies" /></div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <div class="card__content">
                            <h3>SEM 01 - RÉVISION</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur
                                <span>adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                            </p>
                            <p class="tag">HTML + CSS</p>
                            <a href="">Voir le laboratoire</a>
                        </div>
                        <div class="card__media"><img src="assets/images/media.jpg" alt="site web crypto-monaies" /></div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <div class="card__content">
                            <h3>SEM 01 - RÉVISION</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur
                                <span>adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                            </p>
                            <p class="tag">HTML + CSS</p>
                            <a href="">Voir le laboratoire</a>
                        </div>
                        <div class="card__media"><img src="assets/images/media.jpg" alt="site web crypto-monaies" /></div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
